---
- name: Install NewRelic APT source
  copy:
    src: newrelic.list
    dest: /etc/apt/sources.list.d/newrelic.list

- name: Install NewRelic APT keys
  apt_key:
    url: "{{ item }}"
    state: present
  with_items:
    - https://download.newrelic.com/548C16BF.gpg
    - https://download.newrelic.com/infrastructure_agent/gpg/newrelic-infra.gpg

- name: Set up license key
  template:
    src: newrelic-infra.yml
    dest: /etc/newrelic-infra.yml

- name: Set up NewRelic Infra source
  template:
    src: newrelic-infra.list
    dest: /etc/apt/sources.list.d/newrelic-infra.list

- name: Install newrelic packages
  apt:
    name: "{{ item }}"
    update_cache: yes
  with_items:
    - newrelic-sysmond
    - newrelic-infra
