- name: Set up NewRelic Sys source
  copy:
    src: newrelic.list
    dest: /etc/apt/sources.list.d/newrelic.list

- name: Install NewRelic PHP5
  apt:
    name: newrelic-php5
    update_cache: yes
  notify: restart apache

- name: Install NewRelic PHP Agent config
  template:
    src: newrelic.ini.j2
    dest: /etc/php/7.1/mods-available/newrelic.ini
    owner: root
    group: root
    mode: 0640
