- name: Install NewRelic PHP5
  apt:
    name: newrelic-php5
    update_cache: yes
  notify: restart apache

- name: Install NewRelic config
  template:
    src: nrsysmond.cfg
    dest: /etc/newrelic/nrsysmond.cfg
    owner: newrelic
    group: newrelic
    mode: 0600
  notify: restart newrelic-sysmond

- name: Install NewRelic PHP Agent config
  template:
    src: newrelic.ini
    dest: /etc/php/7.0/mods-available/newrelic.ini
    owner: root
    group: root
    mode: 0640
  notify: restart apache

- name: ensure newrelic is running
  service:
    name: newrelic-sysmond
    state: started
    enabled: yes
